.target{
    margin-bottom: 20px;    
    box-shadow: 9px 7px 33px 0px rgba(15,12,12,12.75);
    /* min-width: 80vw; */
    min-width: 350px;
    background-color:#ffffff9f;        
}

.target_horizontal{
    /* margin-top: 20px; */
    margin-bottom: 20px;
    box-shadow: 9px 7px 33px 0px rgba(15,12,12,12.75);
    /* background-color: red; */
    /* border: solid red; */
    min-width: 350px;
}