.NavBar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.NavBar_dark{
    background-color: black;    
    color: white;    
}

.NavBar_ligth{
    /* background-color: rgb(183, 175, 175); */
    background-color: rgb(246,191,51);
    color: white;    
}

ul{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;   
    gap: 30px;
    margin-top: 10px;    
}

.button{
    /* border: solid #333; */
    color:#fff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px #333;  
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.button_dark{
    border: solid #333; 
    color:#fff;   
}

.button_ligth{
    border: solid #f8f6f6;
    color:#312f2f;
    
}

.button:hover{
    /* box-shadow: 1px 1px 20px wheat;   */
    background-color: white;
    color: black;
    border: solid white; 
    filter: drop-shadow(0 0 2em wheat);
}

#cartWidget{    
    color: white;    
    margin-top: 10px;
    margin-right: 100px;
}

.viewOption{
    padding-top: 8px;
    color: white;
}
.viewOption_dark{
    color: rgb(246,191,51);
}
.viewOption_ligth{
    color: rgb(47, 45, 45);
}