.about{
    background-color: #16161973;
    font-family: Arial, sans-serif;
    height: 300px;
}
  
  .mision {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .mision h2 {
    color: #333;
  }
  
  .mision p {
    color: #555;
    line-height: 1.6;
  }